.sobre {
    width: 70%;

}

.sobre h2 {
    color: #18191F;
    font-size: 22px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: "Montserrat", sans-serif;
    text-align: center;

}

.sobre p{
    text-align: justify;
    color: #474A57;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 10px;
}