@import url(header.css);
@import url(main.css);
@import url(sobre.css);
@import url(tecnologias.css);
@import url(contato.css);
@import url(projetos.css);

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0 auto;
    text-decoration: none;
    box-sizing: border-box;
    max-width: 1366px;
    max-height: 912px;
}

.divisao {
    border: 2px solid #6b6b6b;
    max-width: 90%;
    border-radius: 50px;
}

footer p {
    text-align: center;
    color: #474A57;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
}