.tecnologia {
    width: 70%;
    margin-bottom: 160px;
}

.tecnologia h2 {
    color: #18191F;
    font-size: 22px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.tecnologia p{
    text-align: justify;
    color: #474A57;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10px;
    text-align: center;
    margin-bottom: 50px;
}

.tecnologia ul {
    justify-content: center;
    display: flex;
}
.tecnologia img {
    width: 60px;
    height: 60px;
}